<div class="login-page">
  <div class="container">
    <div class="info">
      <h1>CHUPINO HOSTING</h1>
      <p>Plataforma de hosting para servidores dedicados</p>
    </div>
    <div class="login-container">
      <div class="login-header">
        <h2>Iniciar sesión con</h2>
      </div>
      <div class="divider"></div>
      <div class="login">
        <button class="google-button" (click)="login()">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/2048px-Google_%22G%22_logo.svg.png" alt="Google Icon" class="google-icon">
          Google
        </button>
      </div>
    </div>
  </div>
</div>