html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #3d668f;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    .error-snackbar {
        --mdc-snackbar-container-color: #f44336 !important;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
    
    .success-snackbar {
        --mdc-snackbar-container-color: #4caf50 !important;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
    
    .info-snackbar {
        --mdc-snackbar-container-color: #2196f3 !important;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

